@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
html,
body,
img,
figure {
    max-width: 100%
}
html,
body {
    overflow-x: hidden;
    color: #000;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}
a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}
body{
  background: #f2f2f2;
}

nav{
  background: #1b1b1b;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  padding-right: 350px;

}

nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li{
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 5px;
  box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 160px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover{
    color: cyan;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 50px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left:40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}

/* slider starts */
header {
    overflow:hidden;
  }
  
  .hero-text h2 {
    margin-bottom: 50px;
  }
  
  .hero-text .hero {
    position: relative;
  }
  
  .hero-text .hero .hero-slide a:hover span {
    color: #033a71;
  }
  
  .hero .hero-slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top center;
  }
  
  .hero .hero-slide .header-content {
    top: 20%;
    margin-left: 8rem;
    max-width: 550px;
    width: 100%;
    padding: 2rem;
  }
  
  .slide-content {
    padding: 10px 20px 10px 0;
  }
  
  .slide-content .h1 {
    font-size: 62px;
  }
  
  .btn-primary {
    background-color: #5302FE;
    border-radius: 0;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    outline: none;
  }
  
  .slick-dots li button::before {
    font-size: 18px;
    color: #fff;
    opacity: 1;
  }
  
  .slick-active button {
    background: #d60e96;
  }
  
  /** Text Animation **/
  
  @-webkit-keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
  }
  
  .slick-active .slide-content {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;
    width: 100%;
    padding: 10px 20px 30px 0;
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .hero-text .hero .hero-slide a {
      padding-top: 0.8rem;
    }
  
    .hero-text .hero .hero-slide a span {
      font-size: 20px;
      margin-top: 0.5rem;
    }
  
    .hero .hero-slide .header-content {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: 0 auto;
    }
  }
  
  
  @-webkit-keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUpSD {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
  }
  
  .slick-active .slide-content {
    animation-name: fadeInUpSD;
    animation-duration: 1s;
    opacity: 1;
    width: 100%;
    padding: 10px 20px 30px 0;
  }

  /* posts start */

 

  #features{
    padding-top: 50px;
    padding-bottom: 25px;
  
  
    

}
.feature-row{
    width: 100%;
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 20px 20px 10px grey;

}
.feature-col h4{
  margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;

}

.feature-btn{
    margin: 50px  0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.feature-btn
  .common-btn{
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px sloid red;
  font-weight: bold;
  cursor: pointer;

}

/* events */

/* @import url('https://fonts.googleapis.com/css2?family=Imbue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue&family=Lobster&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.news-col {
	overflow: visible;
	background: #2c4167;
    /* padding: 57px 0 70px 0; */
    display: flex;
    flex-wrap: wrap;
    
}

h1,
h2 {
	color: #7e8798;
	font-size: 60px;
	/* font-family: 'Dancing Script', cursive; */
	line-height: 68px;
	font-weight: 300;
	text-align: center;
    padding-bottom: 53px;
    
}

h1 {
	text-align: left;
  padding-bottom: 18px;
  /* font-family: 'Dancing Script', cursive; */
  
}
p{
  /* font-family:  'Poppins', sans-serif; */
  font-size: 20px;
}

.news-col h2 {
  color: white;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 50px;
  text-transform: uppercase;
}

.news-col article {
	width: 50%;
	float: left;
	padding: 0 100px;
}

.news-col .pic {
	float: left;
	margin-right: 25px;
  margin-top: 4px;
  box-shadow: -30px 30px 20px;
}

.news-col .pic img {
  border-radius: 5px;
  width: 330px;
  height: 330px;

}

.news-col .info {
	overflow:visible;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.news-col .info h4 {
	color: #8ed3ef;
	font-size: 14px;
	line-height: 20px;
  font-weight: bold;
  
}

.news-col .info .date {
	color: #899ec4;
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 10px;
}

.news-col .info p {
	padding-bottom: 11px;
}

.news-col .more {
	padding-right: 23px;
	/* background: url(../images/bg_arrow_blue.png) no-repeat 100% 50%; */
	color: #8ed3ef;
}

.more {
	padding-right: 23px;
	/* background: url(../images/bg_arrow_blue_dark.png) no-repeat 100% 50%; */
	color: #008bc4;
}

.btn-holder {
	text-align: center;
	clear: both;
  padding: 65px 0 0 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

a.btn,
.btn {
	color: #7d8797;
	border-radius: 4px;
	background: #fff;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
	display: inline-block;
	padding: 0 21px;
	border: none;
}

a.btn.blue,
.btn.blue {
	background: #008bc4;
	color: #fff;
}

/* upcoming events */



.container1{
  /* display: flex;
  flex-wrap: wrap; */
  float: left;
}



.events {
  padding: 0px 0 15px 0;
  display: flex;
  flex-wrap: wrap;
}

.events article {
	width: 25%;
	float: left;
	padding: 0 15px;
	font-size: 14px;
  line-height: 20px;
  /* font-family: 'Dancing Script', cursive; */
}

.current-date {
	width: 70px;
	float: left;
	border-radius: 4px;
	background-color: #008bc3;
	margin-right: 30px;
	margin-top: 4px;
	text-align: center;
	/* font-family: 'Dancing Script', cursive; */
	color: #fff;
	font-size: 16px;
	padding: 3px;
	line-height: 20px;
}

.current-date .date {
	background-color: #fff;
	color: #008bc3;
	font-size: 40px;
	border-radius: 4px;
	line-height: 49px;
	margin-top: 3px;
	font-weight: bold;
}

.events .info {
	overflow: visible;
}

.events .info p {
	padding-bottom: 13px;
  min-height: 153px;
  /* font-family: 'Dancing Script', cursive; */
}


/* staff details start */

.c{
	
	display:flex;
    flex-wrap: wrap;
    background-color: #7a8eff;
}
.card-0{
	margin-left: 10%;
	float: left;
	box-shadow: -30px 30px 20px;
	margin-bottom: 20px;

}
.card-1{
	margin-left: 10%;
	float: left;
	box-shadow: -30px 30px 20px;
	margin-bottom: 20px;
	

}
.card-2{
	margin-left: 10%;
	float: left;
	box-shadow: -30px 30px 20px;
	margin-bottom: 20px;
	
	
}
.bgc{
	
	background-color: #7a8eff;

	

}
.bgc-in{
    padding:50px;
    background-color: #7a8eff;
	

}
.card-body{
	/* font-family: 'Redressed', cursive; */

	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	
	text-align: center;
}
h1{
	/* font-family: 'Redressed', cursive; */
	color: white;
}


.card-0:hover .card-body{
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	color: white;
	padding: 5px;
	width: 300px;
	height: 300px;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
	

}

.card-1:hover .card-body{
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	color: white;
	padding: 5px;
	width: 300px;
	height: 300px;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
	

}
.card-2:hover .card-body{
    background-color: rgba(0,0,0,0.5);
	opacity: 1;
	color: white;
	padding: 5px;
	width: 300px;
	height: 300px;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
	

}
.card-image-top:hover{
	opacity: 1;
}

.card-0 .card-img-top{
	opacity:1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

  li{
      list-style: none;
  }



  /* enrollment starts */

  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
  .enroll-text p{
    /* font-family: 'Satisfy', cursive; */
    color: blueviolet;
  }
  .enroll-text{
    margin: 50px;
  }
  hr{
    line-height: 50px;
  }


  /* our partners */

   div>h2{
    text-align:center;
    padding: 20px;
    /* font-family:'Satisfy', cursive ; */
    font-size: 50px;
    padding-bottom: 50px;
  }
  /* Slider */
  
  /* .slick-slide {
      margin: 0px 0px;
  } */
  
  .slick-slide img {
      width: 100%;
      /* height: 100%; */
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  






/*=================footer css start==============*/




.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  padding: 30px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
  overflow: visible;
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}